modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Servidor AIH"

[[workflows.workflow]]
name = "Servidor AIH"
author = 39093741
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill -f \"node server.js\" || true"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "fuser -k 5000/tcp || true"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
